

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    letter-spacing: 2px;

}

.controls-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}
.search-field{
    width: 50%;
    height: auto;
}
.actions-cell {
    display: flex !important;
    gap: 16px !important; /* Aumentado el espacio entre botones */
    justify-content: center !important;
    align-items: center !important;
    padding: 16px 24px !important; /* Más padding para dar más espacio */
    min-width: 350px !important; /* Un poco más de ancho para los botones */
  }
  
  .action-button {
    min-width: 150px !important;
    white-space: nowrap !important;
    margin: 0 8px !important; /* Margen adicional a los lados */
  }

  .accion-button {
    background-color:black !important;
    color: white !important;
    padding: 8px 24px !important;
    border-radius: 4px !important;
    text-transform: none !important;
    font-weight: 500 !important;
    transition: background-color 0.3s ease !important;
  }
  
  .accion-button:hover {
    background-color: rgb(85, 85, 85) !important;
  }